@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

@font-face {
    font-family: "norse-bold";
    src: url("images/Norse-Bold.otf");
}

:root {
    --color: #fdfdf5;
}

* {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: "norse-bold";
    font-size: 6rem;
    color: var(--color);
    margin: 0;
    vertical-align: baseline;
    height: 6rem;
    line-height: 7rem;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.93);
    overflow: hidden;
}

.main-container {
    display: flex;
    flex: row;
    height: 100vh;
}

.image-container {
    flex: 1 1 100px;
    position: relative;
    height: 100vh;
}

.form-container {
    flex: 2 1 100px;
}

img {
    width: 35vw;
    height: 100%;
    margin: 0;
    padding: 0;
}

.logo-background {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    position: absolute;
    top: 20%;
}

.logo {
    width: 15%;
    padding: 1rem;
}

.image-container p:first-of-type {
    position: absolute;
    bottom: 1.5%;
    color: var(--color);
    font-weight: 300;
    font-size: 0.85rem;
    width: 35vw;
    text-align: center;
}

.image-container a {
    color: var(--color);
}

.form-container {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
}

.container {
    flex: auto;
    height: 33vh;
    display: flex;
    flex-direction: column;
}

.description p {
    padding: 0.8rem 2.5rem;
    font-size: 1.3rem;
    margin: 0;
    font-weight: 600;
    width: clamp(45ch, 80%, 70ch);
}


.description p:first-child {
    margin-top: 10%;
}

.description p:last-child {
    margin-bottom: 3rem;
}
.italic {
    font-style: italic;
}

.form-container .container:nth-child(2){
    background-color: white;
    box-shadow: 0 4px 5px #ccc;
    flex-wrap: wrap;
    flex-direction: row;
}

button {
    margin-top: 20px;
}

.form-section {
    display: flex;
    flex-direction: column;
    width: 40%; 
    margin-left: 5%;
}

input {
    width: 60%;
}

h3 {
    width: 80%;
    margin-left: 2.5rem;
    font-size: 1.5rem;
}

form {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
}